Company Employees
<br>

<a href="/employees/new">Add New Employee</a>

<% @employees.each() do |employee| %>
    <li><%= employee.name %>, Division <%= employee.division.name unless employee.division_id.nil? %><br>
      <a href="/employees/<%= employee.id() %>/assign">-Assign Division</a><br>
      <a href="/employees/<%= employee.id() %>/delete">-Delete</a><br>
    </li>
  <% end %>
<br>
<a href="/">Home</a>
